@using WhiteBears.Models
@model IEnumerable<Task>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Style/ProjectTaskPage.css" rel="stylesheet" />
    
</head>
<h3>Tasks</h3>
<dd>
    <div id="projectTaskTableDiv">
        <table id="projectTaskTable" class="table table-striped">
            <thead id="myThead">
                <tr>
                    <th>Completed Date</th>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody id="projectTaskTableTbody">
                @foreach (var task in Model)
                {
                    <tr>
                        <td>
                            @Html.CheckBox("task", @task.IsCompleted)
                        </td>
                        <td>
                            @task.Title
                        </td>
                        <td>
                            @task.DueDate
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="projectTaskButtons">
        <button type="button" id="projectTaskAdd" class="btn btn-info">Add</button>
        <button type="button" id="projectTaskDelete" class="btn btn-danger">Delete</button>
    </div>
</dd>
    
