table#EditUserTable, table#DisabledUsersTable {
    max-width: 600px;
}

.back-button {
    float: left;
    margin-left: 20px;
    margin-top: 20px
}


#AddHeaderContainer {
    box-shadow: 0 5px 5px 0px gray;
    border-bottom: solid black 1px;
    padding: 5px;
    margin-bottom: 50px;
    text-align: left;
}

#tasktable{
    width: 100%;
}

#NewUserForm {
    margin-bottom: 100px;
}

.subheader {
    color: black;
}

.header {
    margin-left: 100px;
}

#EditUserTableContainer, #DisabledUsersTableContainer {
    max-width: 600px;
}

#EditWidgetsContainer {
    text-align: center;
}

#DeleteButtonContainer{
    margin-top: 20px;
    text-align: center;
}

.noBorder {
    border: 0;
}


#projectselection {
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
}