@using WhiteBears.Models
@model IEnumerable<Task>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Style/ProjectTaskPage.css" rel="stylesheet" />

</head>
<h3>Notes</h3>
<dd>
    <div id="projectTaskTableDiv">
        <table id="projectTaskTable" class="table table-striped">
            <thead id="myThead">
                <tr>
                    <th>Date</th>
                    <th>For</th>
                    <th>Message</th>
                    <th>Read</th>
                </tr>
            </thead>
            <tbody id="projectTaskTableTbody">
          
            </tbody>
        </table>
    </div>
    <div id="projectTaskButtons">
        <button type="button" id="projectTaskAdd" class="btn btn-info">Add</button>
        <button type="button" id="projectTaskDelete" class="btn btn-danger">Delete</button>
    </div>
</dd>

