
@Styles.Render("~/Style/UserSettings.css")

<script src="~/Scripts/jquery-3.3.1.js"></script>
<div id="AddHeaderContainer">
    <h2 class="header">Admin Home Page</h2>
</div>
<h3 class="header">Settings</h3>

<div id="SettingsButtonContainer">
    <div class="container">
        <label>If you want to add new users, modify user's information, or purge them from the system, use this.</label><br />
        <button class="btn btn-lg btn-primary" value="users">Users (Add/Modify/Remove)</button>
    </div><br />
    <div class="container">
        <label>If you want to purge projects from the system to save space, use this.</label><br />
        <button class="btn btn-lg btn-danger" value="projects">Projects (Remove)</button>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('button[value=users]').on('click', function () {
            window.location.href = '@Url.Action("UserSettings", "AdminPage")';
        })

        $('button[value=projects]').on('click', function () {
            window.location.href = '@Url.Action("ProjectSettings", "AdminPage")';
        })
    });
</script>