@model WhiteBears.Models.Document

<div id="documentDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left:0% !important">


        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <div class="form-group">
                    <div class="col-sm-6">
                        <h4 class="modal-title text-left">Document</h4>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>

            </div>
            <div class="modal-body">
                <!-- Errors -->
                <div class="form-group row">
                    <div class="col-sm-12" id="taskErrors">

                    </div>
                </div>
                <hr />
                <div class="container-fluid">
                    <div class="row">
                        <div class="Contain">
                            <!-- Document Id -->
                            @Html.HiddenFor(x => x.DocumentId)

                            <!-- File Name -->
                            <div class="form-group row">
                                <label for="FileName">File name</label>
                                <text id="FileName" name="FileName"></text>
                            </div>

                            <!-- Document Id -->
                            @Html.HiddenFor(x => x.DocumentId)


                            <!-- Version-->
                            <div class="form-group row">
                                <Label for="version">Version</Label>
                                <select id="version" name="version"></select>
                            </div>

                            <!-- Modified By -->
                            <div class="form-group row">
                                <label for="ModifiedBy">Modified by</label>
                                <text id="ModifiedBy" name="ModifiedBy"></text>
                            </div>

                            <div class="form-group row">
                                <label for="ModifiedOn">Modified on</label>
                                <text id="ModifiedOn" name="ModifiedOn"></text>
                            </div>

                            <!-- Created By -->
                            <div class="form-group row">
                                <label for="Uploader">Created by</label>
                                <text id="Uploader" name="Uploader"></text>
                            </div>

                            <!-- Creation Date -->
                            <div class="form-group row">
                                <label for="CreationTime">Created on</label>
                                <text id="CreationTime" name="CreationTime"></text>
                            </div>

                            <div class="modal-footer">
                                <!-- Add Button -->
                                <input id="downloadDoc" type="button" class="btn btn-primary" name="downloadDoc" value="Download" style="float:left;" />
                                <input id="deleteDoc" type="button" class="btn btn-primary" name="deleteDoc" value="Delete" />
                                <button type="button" id="taskClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div> <!-- Modal Body Ends here -->
                    </div>
                </div>
            </div>

        </div> <!-- Modal Content Ends here -->
    </div>
</div>
