@model WhiteBears.Models.ProjectNotes

<div id="projectNotesDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left:0% !important">
       
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                   
                    <div class="form-group">
                        <div class="col-sm-6">
                            <h4 class="modal-title text-left">Project Notes</h4>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">

                            <!-- Errors -->
                            <div class="form-group row">
                                <div class="col-sm-12" id="ProjectNotesErrors">
                                </div>

                            </div>
                            <hr />
                            <div class="Contain">
                                <!-- ProjectNotes Message -->
                                <div class="form-group row">
                                    <Label for="projectNotesDetailMessage">Message </Label>
                                    <text id="projectNotesDetailMessage" name="projectMessage"></text>
                                </div>

                                <!-- ProjectNotes SendDate -->
                                <div class="form-group row">
                                    <Label for="projectNotesDetailSentDate">Sent Date </Label>
                                    <text id="projectNotesDetailSentDate" name="SentDate"></text>
                                </div>

                                <!-- ProjectNotes From -->
                                <div class="form-group row">
                                    <Label for="projectNotesFrom">From </Label>
                                    <text id="projectNotesDetailFrom" name="projectNotesFrom"></text>
                                </div>

                                <!-- ProjectNotes To -->
                                <div class="form-group row">
                                    <Label for="projectNotesTo">To </Label>
                                    <text id="projectNotesTo" name="projectNotesTo"></text>
                                </div>

                                <!-- Pointless to have this if I don't make  completedDate similar to Task [checkbox]
             ProjectNotes Completed Date
            <div class="form-group row">
                <Label for="projectNotesCompletedDate">Completed Date: </Label>
                <text id="projectNotesCompletedDate" name="projectNotesCompletedDate"></text>
            </div>
        -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="taskClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div> <!-- Modal Body Ends here -->

                </div> <!-- Modal Content Ends here -->
        </div> <!-- Container div-->
        </div>
    </div>

