@using WhiteBears.Models
@model Task



<!-- Modal -->
<div id="projectTaskEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left:0% !important">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-sm-6">
                    <h4 class="modal-title">Edit</h4>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                </div>
                <div class="modal-body">


                    <form>
                        <!-- Errors -->
                        <div class="form-group row">
                            <div class="col-sm-12" id="taskEditErrors">

                            </div>
                        </div>
                        <hr />

                        <!-- TaskID -->
                        <input type="hidden" id="editTaskId" name="editTaskId" value="">

                        <!-- Title -->
                        <div class="form-group row">
                            <label for="Title" class="col-sm-2 col-form-label text-left">Title</label>
                            <input id="editTaskTitle" name="editTaskTitle" class="col-sm-10 form-control" type="text" placeholder="" required />
                        </div>

                        <!-- Description -->
                        <div class="form-group row">
                            <label for="Description" class="col-sm-2 col-form-label text-left">Description</label>
                            <textarea class="form-control col-sm-10" name="editTaskDescription" placeholder="" id="editTaskDescription" rows="3" required></textarea>
                        </div>

                        <!-- Start Date -->
                        <div class="form-group row">
                            <label for="StartDate" class="col-sm-2 col-form-label text-left">Start Date</label>
                            <input id="editTaskStartDate" class="col-sm-10 form-control" value="" name="editTaskStartDate" type="date" required />
                        </div>

                        <!-- End Date -->
                        <div class="form-group row">
                            <label for="EndDate" class="col-sm-2 col-form-label text-left">End Date</label>
                            <input id="editTaskEndDate" class="col-sm-10 form-control" value="" name="editTaskEndDate" type="date" required />
                        </div>

                        <!-- Completion Date -->
                        <div class="form-group row">
                            <label for="CompletionDate" class="col-sm-2 col-form-label text-left">Completion</label>
                            <input id="editTaskCompletionDate" class="col-sm-10 form-control" value="" name="editTaskCompletionDate" type="date" required />
                        </div>

                        <!-- Priority -->
                        <div class="form-group row">
                            <label for="Priority" class="col-sm-2 col-form-label text-left">Priority</label>
                            <select class="form-control col-sm-10" value="" id="editTaskPriority" name="editTaskPriority" required>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                            </select>

                        </div>


                        <div class="modal-footer">
                            <!-- Add Button -->
                            <input id="taskEditBtn" type="button" class="btn btn-primary" name="Update" value="Update" />
                            <button type="button" id="taskClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>

                </div> <!-- Modal Body Ends here -->

            </div> <!-- Modal Content Ends here -->
    </div> <!-- Modal Dialog Ends here -->
</div>

