
@{
    ViewBag.Title = "UploadBlob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadBlob</h2>

@using (Html.BeginForm("UploadBlob", "Blob", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-group">
            <br />
            <label>Upload File to Storage</label>
            <input type="file" name="uploadFileName" value="Browse" class="btn-primary" />
            <br />
            <button type="submit" id="buttonSubmit" class="btn btn-success">Upload</button>
        </div>
    </div>
    
}
