html, body{
    height: 100%;
}

#MainPage{
    position: relative;
    height: 100%;
}

button{
    padding: 7px;
}

textarea{
    resize: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: #DDDDDD;
}

#TasksSection td, th {
    border: 1px solid darkgrey;
    padding: 10px;
    max-width: 200px;
}



#TasksSection {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

#TaskOverviewSection{
    float: left;
    margin-left: 40px;
    text-align: center;
}

.TaskPercentage{
    padding: 5px;
    float: left;
    margin-top: 5px;
}

#TasksCompleted {
    background-color: lightgreen;
    width: 60%;
}

#TasksNotCompleted{
    background-color: lightcoral;
    width: 40%;
}

#LeftPanel {
    background: lightgrey;
    text-align: center;
    width: 200px;
    float: left;
    height: 100vh;
}

.ProjectButtons{
    margin-top: 5px;
    margin-bottom: 5px;
}


header{
    text-align: center;
}

#signout{
    float: right;
}


.LeftPanelBorder {
    padding: 50px;
    border: solid black 2px;
}

#UserInfoContainer {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ProjectListContainer {
    height: 70%;
}

#PersonalNotesSection{
    margin-top: 30px;
    margin-left: 50px;
    float: left;
}

#PersonalNotesSection td, th {
    border: 1px solid darkgrey;
    padding: 10px;
    max-width: 300px;
}

#PersonalNotesButtonsContainer {
    margin-top: 20px;
    margin-left: 100px;
}

.PersonalNotesButtons {
    margin-left: 20px;
}

#AddNoteSection {
    margin-top: 30px;
    margin-left: 50px;
    float: left;
}

#Note{
    width: 300px;
}

#AddPersonalNote{
    margin-left: 10px;
    margin-top: 45px;
}