/*Use this for the surrounding div*/
#headingsContainer {
    box-shadow: 0 5px 5px 0px gray;
    border-bottom: solid black 1px;
    padding: 25px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    margin-left: 200px;
}

/*Use this on the header tags themselves*/
.header-text{
    font-family: Corbel;
    color: black;
}