html, body {
    height: 100%;
    font-family: "Avenir Next" !important;
}


#MainPage{
    position: relative;
    height: 100%;
}

button{
    padding: 7px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    word-wrap: break-word;
    white-space: normal;
}

#TasksSection td, th {
    border: 1px solid darkgrey;
    padding: 10px;
    max-width: 200px;
}

#TasksSection {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    min-height: 300px;
    min-width: 550px;
    max-width: 550px;
}

.TaskPercentage{
    padding: 5px;
    float: left;
    margin-top: 5px;
}


#LeftPanel {
    background: lightgrey;
    text-align: center;
    width: 200px;
    float: left;
    height: 100vh;
}

.ProjectButtons {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: lightgrey;
    color: black;
    background: lightgrey;
    border-radius: 10px 10px 10px 10px
}

.ProjectButtons:hover {
    background: darkgrey;
    color: white;
}


header {
    text-align: center;
    margin-left: 250px;
}

.headerButtons:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.LeftPanelBorder {
    border: solid black 2px;
}

#UserInfoContainer {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#ProjectListContainer {
    height: 60%;
}

#PersonalNotesSection{
    margin-top: 30px;
    float: right;
}

#PersonalNotesSection td, th {
    border: 1px solid darkgrey;
    padding: 10px;
    max-width: 300px;
}

#PersonalNotesButtonsContainer {
    margin-top: 20px;
    margin-left: 100px;
    min-width: 300px;
    text-align: center;
}


#Note{
    width: 300px;
}

#profilePic {
    width: 100px;
    border-radius: 120px 120px 120px 120px;
}

#headings {
    text-align: left;
}

.ProgressBarContainer {
    margin-top: 30px;
    margin-left: 250px;
    width: 400px;

}

.ProgressBarContainers {
    margin-top: 30px;
    width: 300px;
}

.text-large {
    font-size: large;
}

.text-medium{
    font-size: medium;
}

.padding-5px{
    padding: 5px;
}

#PersonalNoteText{
    width: 100%;
    resize: none;
    height: 100px;
    display: none;
}

.scrollable-task {
    height: 400px;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.scrollable-notes {
    height: auto;
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll
}

#TaskOverviewSection {
    text-align: center;
    float: right;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-right: 30px;
}

#pie-chartcanvas{
    width: 500px;
    height: 250px;
}

#projectselection {
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    width: 600px;
    white-space: nowrap;
}

.high-priority {
    background-color: #ffb2b2
}

.med-priority {
    background-color: #ffffb2
}

.pointer{
    cursor: pointer;
}

#text-center{
    text-align: center;
}