body {
}

#topBarTitle
{
    color: black;
}

#backButton
{
    text-align: left;
}

#nameDiv
{
    text-align: right;
    color: black;
    font-size: 25px;
}

#name
{
    color: black;
    padding-right: 50px;
}

#hr {
    border: none;
    width: 100%;
    height: 40px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 15px 15px -15px #333;
    margin: -35px auto 20px;
}



/*
    Project Detail Container 
    Ex: Project 1 Details 
*/
#projectDetailsDiv 
{
    text-align: left;  
}

/*
    Project Detail 
    Ex: Project 1 Details 
*/
#projectDetails {
    color: red;
    font-size: 25px;
}

/*
    Project Button Container 
    @Setting 
    @Logout
*/
#projectButtons {
    text-align: right;
    font-size: 20px;
    padding-right: 50px;
}

/* Setting */
#settingButton
{
    padding-right: 20px;
}

/* Logout */
#logoutButton
{

}

/* Table content div/row */
#tableContent
{
    margin-left: 0%;
}


.container-fluid
{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.row
{
    margin-bottom: 1.5%;
    margin-top: 0%; 
    margin-left: 0%; 
    margin-right: 0%;
}
    



#myThead{
    background-color: grey;
    color: white;
}


#projectTableDiv {
  
    
    /*border: solid;
    border-color: black;
    border-width: 1px;*/
    width: 100%; 
    
  
}

#myThead, .projectTableTbody {
    display: block;
    /*white-space: nowrap;*/
    
}

.projectTableTbody {
    
    
    overflow-y: scroll;
    height: 300px; 
    overflow-x: hidden;
    
}

 .projectTableTbody td {

     width: 1%;
    
 }

#myThead th {
    width: 1%;
  
}
.table 
{
    height: 350px;
    width: 100%;
   /* border: dashed; 
    border-color: lightgray; */
   overflow-y: scroll;
}

.on {
    border-collapse: collapse;
    background-color: lightblue !important;
}

#taskError
{
    color: red;
    align-content: center;
}



#taskModalContent {
   
   margin-right: 50%; 
}

.container-fluid {
        
    margin: 1% 0% 0% 1%; 
}

.row {
    margin-bottom: 1.5%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

#projectTaskDelete, #projectTaskAdd, #projectTaskEdit, #projectNoteAdd, #projectNoteDelete, #projectNotesEdit, #projectDocumentUpload {
    margin-left: 10%;
    margin-top: 5%;
    width: 100px;
}


#projectCompare {
    width: 150px;
    margin-left: 10%;
    margin-top: 5%;
}

    #TeamManagement {
        float: right;
    }

#topBarTitle
{
    float: left;
}



