
body {
    overflow: hidden;
}

#myThead{
    background-color: grey;
    color: white;
}

#projectTaskTableDiv {
    height: 350px;
    border: solid;
    border-color: lightgray;
    border-width: 1px;
}

#projectTaskButtons
{
    margin-top: 2%; 
}

#projectTaskAdd {
    margin-left: 14%;
    width: 25%;
}

#projectTaskDelete
{
    margin-left: 14%;
    width: 25%;
}

#taskModalContent {
   
   margin-right: 50%; 
}

.container-fluid {
        
    margin: 1% 0% 0% 1%; 
}

.row {
    margin-bottom: 1.5%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}


