login-grid-container {
    display: grid;
    grid-gap: 10px;
}
.login-grid-header {
    grid-area: header;
   
    background-color: wheat;
    
    width: 100%;
}

.login-grid-left {
    grid-area: menu;
}

.login-grid-right {
    grid-area: main;
}

.login-grid-footer {
    grid-area: footer;
}


.loginform-full-width {
    width: 100%;
 
}

.login-background 
{
    background-image:url(background1.jpg);
    opacity: 0.8;
   
    background-repeat: no-repeat;
   
}
.login-button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: beige;
}

#topBarTitle
{
    text-align: center;
    margin: 0;
    font-size: 50px;
    margin-bottom: 15px; 
}



.login-label
{
    color: whitesmoke;
    font-size: medium;
 
}
#Error {
    color: pink;
}
